my-articles-stack {
    height: 200px;
    overflow-y: scroll;
    position: absolute;
}

my-articles-stack >.row {
    position: absolute;
}

.list-group{
    max-height: 75vh;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.rounded-border {
    border-radius:.25rem!important
}