@media only screen and (max-width: 600px){
    .top-bar {
        /* overflow: hidden; */
        margin-right: auto !important;
        margin-left: auto !important;
        background-color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        position: fixed; 
        z-index: 666;
        padding-top: 0.2rem;
    }
    .top-bar .top-buffer{
        /* background-size: cover;
        display: inline-block; */
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    #subapp {
        /* -webkit-transform: translateY(100%); 
        transform: translateY(100%); */
        padding-top: 5.5rem;
    }
}

#subapp {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-lg {
    display: flex;
}

.icon-wrap-left {
    float: left;
}
.icon-wrap-text-right {
  text-align: right;
}

.ltr {
    @import "./app/thirdparty-libs/bootstrap.min.css";
}

i18n {
    font-family: Arial, Helvetica, sans-serif !important;
    src: local('Arial');
    src: local('Helvetica');
    src: local('sans-serif');
}

[lang|="fa"]:not(input) { 
    font-family: Arial, Helvetica, sans-serif !important;
    direction: rtl !important;
    text-align: right;
    unicode-bidi: bidi-override;
}

input[lang|="fa"] { 
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: right;
}

[dir|="rtl"] {
    font-family: Arial, Helvetica, sans-serif !important;
    direction: rtl !important;
    text-align: right;
    unicode-bidi: bidi-override;
}

/* webkit solution */
[lang|="fa"]::placeholder { 
    font-family: Arial, Helvetica, sans-serif !important;
    /* direction: rtl !important;  */
    text-align: right; 
    /* unicode-bidi: bidi-override; */
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  top: 50%;
  left: 50%;
  position: fixed;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

.notifications {
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.notifications h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 1px
}

.notifications-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p {
    color: #aaa;
    font-size: 12px
}